*{
    font-family: Arial, Helvetica, sans-serif;
  }

  
  .header {
    overflow: hidden;
    background: linear-gradient(349deg,#5BB7B1 0%, rgba(255, 255, 255, 0.1) 50%);
    padding: 20px 10px;
  }

  .header a {
    float: left;
    color: black;
    text-decoration: none;
    border-radius: 4px;
   }
  
.header-right {
  	padding-right: 20px;
    float: right;
    color: #398ECC;
  }

.calendarDay{
    color: white;
    text-align: center;
    border: solid #548D8A;
    border-radius: 5px;
    background: #548D8A;
    font-weight: bold;
    text-transform: capitalize;
}

.timeband{
    border: solid #7FD1AE;
    background: #7FD1AE;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}



.appointment{
    color: white;
    border: solid #0068D2;
    background: #0068D2;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.appointment:hover{
    border:solid blueviolet;
    background: blueviolet;
    cursor:pointer;
}

.addButton{
    border: solid grey;
    background-color: gray;
    border-radius: 5px;    
    font-size: small;
}

.addButton:hover{
    border: solid black;
    background-color: rgb(150, 140, 130);
    cursor: pointer;
}

.modifyTimeband{
    font-size: 12px; 
    float: right; 
    font-style: italic; 
    border: solid white 0.5px; 
    border-radius: 2px; 
    background-color: azure;
}

.modifyTimeband:hover{
    cursor:pointer;
    background-color: aquamarine;    
}

.modifyAppointment{
    font-size: 9px;
    font-style: italic;
    
}

.addAppointment{
    background-color: azure;
    font-size: 12px; 
    font-style: italic;
    border: 0.5px solid white; 
    vertical-align: middle; 
    border-radius: 3px;
}

.addAppointment:hover{
    background-color: aquamarine;
    cursor: pointer;
}


.close {
    color: black;
    float: right;
    font-size: 42px;
    font-weight: bold;
  }

  .modal {
    display: none;
    border-radius: 20px;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
  }

  .freeAppointment{
    border: solid gray;
    background: gray;
    color: white;
    border-radius: 5px;
  }

  .freeAppointment:hover{
    border: solid black;   
    color: lightyellow;
    cursor: pointer;
  }


  #chatInputField {
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
    width: 98%;
    margin: 10px auto;
    display: flex;
    align-items: center;
}

#chatInputField form {
    width: 100%;
    display: flex;
    align-items: center;
}

#chatInputField input[type='text'] {
    flex: 1;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    margin-right: 10px;
}

#chatInputField input[type='file'] {
    display: none;
}

#chatInputField input[type='submit'] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

#chatInputField input[type='submit']:hover {
    background-color: #3e8e41;
}
