<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Appuntamenti</title>
<link rel="icon" type="image/x-icon" href="images/heart.png">
<link rel="stylesheet" href="agenda.css">
<script src="Agenda.js" charset="UFT-8" defer></script>
</head>
<body>


    <header class="header">  <!--HEADER-->
        <a href="Home"> <img id="logo" src="images/logo.png" alt="Logo" style="height: 75px ;"></a> 
        
        <div class="header-right">
          <div class="login_form">                      
                <div class="header-right">
                    <span th:text="${'Benvenuto ' + paziente.patientDetails.name}" style="font-weight: bold;">username</span>
                    <span>notifiche</span>
                    <span><button>Logout</button></span>
                 </div>            
           </div>
        </div>
    </header>


       <article th:if="${isEmpty}"> 
        <br>      
        <form action="" style="border: solid black; padding: 5px; margin-left: 80%; border-radius: 8px;">
            <b>Vai alla data:</b>
            <input type="date" name="data">
            <input type="submit" value="Vai">
        </form>
        <br>
            <h3>Scegli l'orario del tuo appuntamento:</h3>
    
        <table style="height: 580px;">      
            <td>
                <a th:href="@{/Agenda(data=${dataPrecedente})}"><img src="images/previous.png" style="width:50px; " alt=""></a>
            </td>
    

            <td th:each="giorno : ${giorni}"  style="border: darkgrey solid;border-radius: 5px; width:310px; position: relative; vertical-align: top; background: #BFBFBF;border-radius:5px;">
                <div th:text="${giorno.formattedDay}"  class="calendarDay"></div>
                <br>
                <div th:if="${#lists.isEmpty(giorno.timebands)}"> <br> <span style="font-size: 12px;">Nessuna fascia oraria inserita per questo giorno</span></div>

                <div th:each="disp : ${giorno.timebands}" class="timeband">
                    <p style="font-size: smaller; font-weight: bold;">
                            Fascia oraria: <br> 
                            <b style="font-weight: bolder;" th:text="${disp.timeband}"></b>

                            <div th:each="freeApp : ${disp.freeAppointments}" th:idDisponibilita="${freeApp.disponibilitàId}" th:date="${freeApp.date}" th:start="${freeApp.formattedStartTime}" th:end="${freeApp.formattedEndTime}">
                                <p class="freeAppointment">
                                    <span th:text="${freeApp.formattedTimeband}"></span>
                                </p>                                
                            </div>

                    </p>
                </div>


            </td>
    

            <td>
                <a th:href="@{/Agenda(data=${dataSuccessiva})}"> <img src="images/next.png" style="width:50px;" alt=""></a>
            </td>
        </table>
        <br>    
        

        <div class="modal" id="insertAppointment">
            <span class="close" onclick="closeModal(event);" style="cursor: pointer;">&times;&nbsp;</span>
    
            <form method="post" action="PickAppointment" style="border: solid black; margin: auto; width: 50%; padding: 20px; margin-top: 10%; border-radius: 10px; background: darkgrey;">
                <p><b>Prendi un appuntamento:</b></p>
                <input type="hidden" name="disponibilitaId" id="disponibilitaId" readonly required>
                Data: <input type="date" name="date" id="date" readonly required>
                <br>
                Inizio: <input type="time" name="inizio" id="inizio" required>
                Fine: <input type="time" name="fine" id="fine" required>
                Note: <input type="text" name="note" id="note">
                <br>
                <input type="submit" value="Prendi appuntamento">
            </form>
    
        </div>

    </article>

    <article th:if="${!isEmpty}">       
        <h2>I tuoi appuntamenti:</h2>
        <p th:each="app : ${appuntamenti}" style="border: black solid; background: darkgrey; border-radius: 8px; padding: 10px; width: 25%;">
            <b>Hai un appuntamento</b>
            <b>&nbsp;</b> <b style="font-weight: bolder;" th:text="${app.formattedDate}"></b><br>
            <b>Orario&nbsp;</b><b style="font-weight: bolder;" th:text="${app.FormattedTimeband}"></b><br>            
            <b>Con:&nbsp;</b><b style="font-weight: bolder;" th:text="${dottore.doctorDetails.name}"></b><br>
            <b style="font-weight: bolder;" th:text="${dottore.doctorDetails.address}"></b><br>
            <b style="font-weight: bolder;" th:text="${dottore.doctorDetails.phone}"></b><br>

            <b>Orario&nbsp;</b><b style="font-weight: bolder;" th:text="${app.id}"></b><br>

            <a th:href="@{/CancelAppointment(appointmentId=${app.id})}">Cancella appuntamento</a>
            
            
            
        </p>

    </article>

    <footer style="padding: 20px; text-align: center; background: linear-gradient(0deg,#5BB7B1 0%, rgba(255, 255, 255, 0.1) 100%);">
        <p><h3>Ingegneria del Software</h3></p>
        <p>Diego Hernan Torlone - Matr. 936985</p>
      </footer>

</body>
</html>